@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("dashboard.css"); */

:root {
    /* Setting Content Heights for dynamic look */
}


.default-shadow {
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.2));
}

.text-spacing {
    letter-spacing: 2px;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.widenWhenSelected:checked+label {
    width: 100%;
    height: 3rem;
    /* border-color: gray; */
}

.widenWhenSelectedOrders:checked+label {
    width: 100%;
    height: 120%;
    border-color: gray;
}

/* FAQs */
#questions-container {
    height: 32rem !important;
}

#transactions-container {
    height: 24rem !important;
}

#cart-container {
    height: 22rem !important;
}

/* Edit Transactions */
#edittransactions-container {
    height: 20rem !important;
}

#onsitecreate-container {
    height: 10rem !important;
}

#orders-container {
    height: 26rem !important;
}

#online-orders-container {
    height: 32rem !important;
}

#faqs-container {
    height: 9rem !important;
}

#faqs-qa-container {
    height: 13rem !important;
}

#faqs-email-container {
    height: 14rem !important;
}

#faqs-map-container {
    height: 26rem !important;
}

#terms-container {
    height: 22rem !important;
}

.container {
    position: relative;
    width: 500px;
    /* Adjust the width as needed */
}

.fixed-width-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* Optional: Add ellipsis (...) for overflowed text */
    text-align: left !important;
    padding: 0 !important;
}


.hover-text {
    position: absolute;
    top: -50px;
    /* Adjust the position as needed */
    left: -50px;
    background-color: rgba(111, 111, 111, 0.8);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    text-align: left;
    z-index: 1000;
}

.container:hover .hover-text {
    display: block;
}

input[type="radio"] {
    appearance: none;
    /* Remove default styles */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    /* Customize the size of the radio button */
    height: 20px;
    border: 2px solid orange !important;
    /* Default border color */
    border-radius: 50%;
    /* Make it round */
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    box-shadow: none;
    /* Remove outer outline */
}

/* Custom style when radio button is checked */
input[type="radio"]:checked {
    background-color: orange !important;
    /* Change background color */
}

/* Remove blue outline on focus */
input[type="radio"]:focus {
    outline: none;
}

input[type="checkbox"]:checked {
    background-color: rgb(77, 77, 77);
    border-color: orange;
}

input[type="checkbox"]:checked {
    color: rgb(93, 92, 91);
}

/* Edit Transactions */
.widenWhenSelectedEdit:checked+label {
    width: 100%;
    height: 6.5rem;
    border-color: gray;
}

/* Modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

/* Tabs */
.tablinks {
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.tablinks.active {
    background-color: #ddd;
}

/* Tab content */
.tabcontent {
    display: none;
    padding: 20px;
}

.tabcontent.active {
    display: block;

}

/* Buttons */
.buttons {
    margin-top: 20px;
}

.buttons button {
    background-color: #fb923c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #fd831f;

}

.buttons button.decline {
    background-color: #757575;
}

.buttons button.decline:hover {
    background-color: #5c5b5b;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

.overlay-container {
    position: relative;
    /* Ensure relative positioning for absolute overlay */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure the overlay is above other content */
}

/* Center content styles */
.center-content {
    background-color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 8px;
}

#alertDiv {
    display: none;
}

.notificationTemp {
    position: absolute;
    z-index: +1;
    left: 50%;
    /* top: 50%; */
    transform: translateX(-50%);
    /* transform: translateY(-50%); */

    margin-top: 1rem;
    /* border: 1px solid #dfdfdf; */
    /* background-color: white; */
    /* Initial background color */
}

.timer {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* Initially fills the .notif div */
    background-color: #fd831f;
    /* Background color of the timer */
    animation: unfill 1.75s linear forwards;
}

@keyframes unfill {
    0% {
        width: 0;
    }

    /* Start with full width */
    100% {
        width: 100%;
    }

    /* End with zero width */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:click .dropdown-content {
    display: flex;
}

/* .dropdown:hover .dropbtn {
    background-color: #dbdbdb;
} */

.table-dashboard th,
td {
    padding: 5px;
}

.tborder {
    border: 1px solid black;
}

.b {
    border: red 1px solid;
}

.bc * {
    border: red 1px solid;
}