@tailwind base;
@tailwind components;
@tailwind utilities;

.default-shadow {
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.2));
}

.text-spacing {
    letter-spacing: 2px;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

/* .font-montserrat-black {
    font-family: 'Montserrat', blac;
} */

.anchor-clean {
    text-decoration: none;
    color: black;
}
